.Nav {
    width: 100%;
    height: 8vh;
    background-color: black;
    position: fixed;
    top: 0px;
}

.Nav-Label {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.Nav-Main {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.200);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 90%;
}

.title {
    font-size: 30px;
    color: white;
}